.jumbotron {
	min-height: 600px;
	font-family: "Courier New";
	font-variant: small-caps;
	word-spacing: -20px;
	background: url(lake.jpg) no-repeat center center fixed;
  background-size: cover; 
  background-repeat: repeat;
  text-align: center;
  padding-top: 250px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
	
}

body {
	padding-top: 30px;
	padding-bottom: -50px;
}


label { 
	cursor: default;
}

#info {
	background-color: #ffcc99;
	color: black;
	text-align: center;
	padding-bottom: 40px; 
	padding-top: 10px;
}

.adam {
	text-align: left;
	padding-left: 10px;
}

.adamimg {
	width: -50px; /* you can use % */
    height: -10px;
    padding-right: 1200px;
    padding-left: -100px;
}

.gael {
	text-align: right;
}

.gaelimg {
	width: -20px; /* you can use % */
    height: -10px;
    padding-left: 50px;
}


.btn-facebook {
	background-color: #4868ac;
	border-color: rgb(49,71,118);
	font-size: 15px;
}

.btn-success {
	padding: 7px;
	font-weight: normal;
	border-color: rgb(92,184,92);

}

.form-inline {
	text-align: center;
	vertical-align: middle;
	width: 100%;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 47px;
	padding-right: 47px;
}
